@use '../abstracts' as *;

body.dark {
	--bg: hsl(207, 26%, 17%);
	--element-bg: hsl(209, 23%, 22%);
	--text-main: hsl(0, 0%, 100%);
	--text-secondary: hsl(0, 0%, 100%);
	--shadow: none;

	--text-inverse: #fff;
	--bg-inverse: var(--element-bg);

	--selection-bg: #fff;
	--selection-text: #000;

	--hover-color: rgb(255, 255, 255, 0.125);
	--elements-hover-color: var(--hover-color);
}
