@use '../abstracts' as *;

body.dark {
	--bg: hsl(207, 26%, 17%);
	--elements-bg: hsl(209, 23%, 22%);
	--text-main: hsl(0, 0%, 100%);
	--text-secondary: hsl(0, 0%, 52%);
	--shadow: none;

	--text-inverse: #fff;
	--bg-inverse: var(--elements-bg);

	--selection-bg: rgba(255, 245, 30, 1);
	--selection-text: #111;

	--hover-color: rgb(255, 255, 255, 0.125);
	--elements-hover-color: var(--hover-color);
}
